<h2>About me</h2>
<p>This is a project for "The Complete Web Developer Bootcamp" Udemy course by Rob Dey.
I had only a few issues with the project, most notably with adding pictures with the Paperclip gem.
Overall, I am happy with the result, and learned quite a bit.</p>